body    {
    background-image:  url("Portfolio/verschluesselung.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
	color: #000000;
	font-size: small;
	font-family: Georgia, "Tretbuchet MS", "Veranda", "sans-seif";
}


div {
    display: flex;
    justify-content: center;
}

.divordnung {
    display: flex;
    justify-content: center;
}

ol  {
    font-size: 150%;
    text-align: left;
}


h1, em  {
	font-weight: bold;
	font-style: initial;
    text-align: center;
}
h1  {
	font-size: 300%;
}
h2  {
    font-size: 150%;
}
h3  {
    font-size: 200%;
    text-align: center;
}


p   {
    font-size: 150%;
    text-align: center;
}


a   {
    color: #003849;
	font-size: 125%
}


table   {
    width: auto;
}

th  {
    height: 30%;
}

