body    {
	background-color: #c0f5b3;
	color: black;
	font-size: small;
	font-family: Georgia, "Tretbuchet MS", Veranda, sans-seif;
}

div {
    display: flex;
    justify-content: center;
}


ol  {
    font-size: 150%;
    text-align: left;
}


h1, em  {
	font-weight: bold;
	font-style: initial;
    text-align: center;
}
h1  {
	font-size: 300%;
}
h2  {
    font-size: 150%;
}
h3  {
    font-size: 200%;
    text-align: center;
}


p   {
    font-size: 150%;
    text-align: center;
}


em  {
	color: blue;
}


a   {
	color: #178899;
	font-size: 125%
}


table   {
    width: auto;
}

th  {
    height: 30%;
}

